body {
    background-color: rgb(191, 163, 217);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 200px; 
    margin-right: 40%;
}

.title {
    font-size: 30px;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.image-container {
    position: relative;
    display: inline-block; 
    overflow: hidden;
}

.image-row {
    display: flex;
    justify-content: center;
    margin-bottom: 80px; 
}

.image {
    width: 500px; 
    height: 300px; 
    object-fit: cover; 
    margin: 0 100px; 
    cursor: pointer;
}

.next-button {
    display: block;
    margin: 8px auto;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.next-button:hover {
    text-decoration: underline;
    color: rgb(150, 79, 166);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 1, 0, 0.5);
    display: none; 
    align-items: center;
    justify-content: center; 
    color: white;
    font-size: 20px;
   
    
}

.image-container:hover .overlay {
    display: flex; 
}
