<body>
<div class="container">
    <div class="header">
      <img src="/image.png" alt="Logo" class="logo">
    </div>

    <h1 class="title">Liste des centrales de la SENELEC</h1>
  
    <div class="images">
      <div class="image-row">
        <div class="image-container">
            <img src="/téléchargement (3).jpeg" alt="Image 1" class="image">
            <div class="overlay">
                <h2 class="overlay-title">Centrale Hann</h2>
            </div>
        </div>
        <div class="image-container">
            <img src="/téléchargement (4).jpeg" alt="Image 2" class="image">
            <div class="overlay">
                <h2 class="overlay-title">Centrale Cap des biches</h2>
            </div>
        </div>
      </div>
      <div class="image-row">
        <div class="image-container">
            <img src="/téléchargement (5).jpeg" alt="Image 3" class="image">
            <div class="overlay">
                <h2 class="overlay-title">Centrale Bargny</h2>
            </div>
        </div>
        <div class="image-container">
            <img src="/images.jpeg" alt="Image 4" class="image">
            <div class="overlay">
                <h2 class="overlay-title">Centrale Sébikotane</h2>
            </div>
        </div>
      </div>
    </div>
  
    <button class="next-button">Suivant</button>
  </div>
</body>
